.Cart {
  width:100%;
  height:100%;
}

.shoppingList ul {
  list-style: none;
}

.shoppingList ul li{
  width: 70%;
  margin:0 auto;
  height: 125px;
  border-bottom: 1px solid #ebebeb;
}

.shoppingList ul li img{
  width: 150px;
    height: auto;
    float: left;
    margin: 5px;
}

.shoppingList .cartWrap {
  width: 60%;
    float: left;
    height: 100%;
    margin: 38px 0px;
}

.shoppingList .cartWrap div {
  width:20%;
  float:left
}

.icons {
  cursor: pointer;
}
